.nav-button {
  $block-primary-color: $color-raspberry;
  $block-hover-color: $color-gray-200;
  $block-font-size: $font-size-base * 1;
  $block-padding: $spacer-base * 2;
  $block-gap: $spacer-base * 2;

  border: none;
  background: transparent;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 300;

  font-size: $block-font-size;
  padding: $block-padding * 1.5 $block-padding * 2;
  gap: $block-gap;
  width: 100%;

  &__icon {
    color: $block-primary-color;
    font-size: $block-font-size * 1.125;
    font-weight: 200;
  }

  &__dropdown-indicator {
    font-size: $block-font-size * 0.875;
    color: $color-dropdown-indicator;
  }

  &__more-option {
    letter-spacing: 2px;
  }

  &:hover {
    background-color: $block-hover-color;
    color: $block-primary-color;
  }
}