.nav-button {

  // Variables

  $block-primary-color: $color-raspberry;
  $block-hover-color: $color-gray-200;

  // Common

  %nav-icon-base {
    color: $block-primary-color;
    margin-right: $spacer-base * 0.75;
    @include icon-sizer(0.75);

    @media screen and (min-width: $breakpoint-lg) {
      @include icon-sizer(1);
    }
  }

  // Properties

  border: none;
  background: transparent;
  text-align: center;
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: $spacer-base * 2;
  align-items: center;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: fs(sm);
  padding: padding-x-y(3, 2);

  @media screen and (min-width: $breakpoint-lg) {
    font-size: fs(base);
    padding: padding-x-y(4, 3);
  }

  &__icon {
    &--add {
      @extend %nav-icon-base;
      @include icon-mask('fluent-mdl2--add');
    }

    &--upload {
      @extend %nav-icon-base;
      @include icon-mask('fluent-mdl2--upload');
    }

    &--sync {
      @extend %nav-icon-base;
      @include icon-mask('fluent-mdl2--sync-to-p-c');
    }

    // Use icon-image type
    &--export-to-excel {
      @extend %nav-icon-base;
      @include icon-image('vscode-icons--file-type-excel2');
    }

    &--flow {
      @extend %nav-icon-base;
      @include icon-mask('fluent-mdl2--flow');
    }
  }

  &__dropdown-indicator {
    color: $color-dropdown-indicator;
    margin-left: $spacer-base * 0.5;
    @include icon-mask('fluent-mdl2--chevron-down');
    @include icon-sizer(0.675);
  }

  &__more-option {
    letter-spacing: 2px;
  }

  &:hover {
    background-color: $block-hover-color;
    color: $block-primary-color;
  }
}

.act-button {

  // Variables

  $block-primary-color: $color-raspberry;
  $block-hover-text-color: $color-gray-200;
  $block-hover-background-color: darken($color-raspberry, 10%);

  // Common

  %nav-icon-base {
    color: white;
    margin-right: $spacer-base * 0.75;
  }

  // Properties

  border: none;
  background: $block-primary-color;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: $spacer-base * 1;
  align-items: center;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: fs(sm);
  padding: padding-x-y(3, 2);

  &__icon {
    &--edit {
      @extend %nav-icon-base;
      @include icon-mask('fluent-mdl2--edit');
      @include icon-sizer(0.75);
    }

    &--delete {
      @include icon-mask('fluent-mdl2--delete');
      @include icon-sizer(0.75);
    }
  }

  &:hover {
    background-color: $block-hover-background-color;
    color: $block-hover-text-color;
  }

  &--cancel {
    background-color: $color-gray-400;

    &:hover {
      background-color: darken($color-gray-400, 10%);
      color: $block-hover-text-color;
    }
  }
}