.file-card {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid $border-gray;
  table-layout: fixed;
  cursor: pointer;

    &:hover {
      background-color: $hover-gray;
    }

  th,
  td {
    padding: 8px 12px;
  }

  tr {
    border: 1px solid $border-gray;
  }

  th {
    background-color: $light-gray;

    &:nth-child(2) {
      text-align: right;
    }
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: 25%;
    font-weight: bold;
    font-style: italic;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 75%;
  }
}