.file-card {
  width: 100%;
  table-layout: auto;
  cursor: pointer;

  &:hover {
    background-color: $hover-gray;
  }

  th,
  td {
    padding: $spacer-base * 2 $spacer-base *3;
  }

  tr {
    border: 1px solid $color-card-border;
  }

  th {
    background-color: $light-gray;

    &:nth-child(2) {
      text-align: right;
    }
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: 1%;
    font-weight: 500;
    font-style: italic;
    white-space: nowrap;
  }

  th:nth-child(2),
  td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}