.file-card {
  width: 100%;
  table-layout: auto;
  cursor: pointer;
  font-size: fs(sm);

  &--selected {
    tr {
      background-color: $color-table-row-selected;
    }
  }

  &__icon {
    &--folder {
      @include icon-mask('tdesign--folder-filled');
      @include icon-sizer(0.75);
    }

    &--excel {
      @include icon-mask('ph--microsoft-excel-logo-fill');
      @include icon-sizer(0.875);
      color: $color-excel;
    }

    &--word {
      @include icon-mask('ph--microsoft-word-logo-fill');
      @include icon-sizer(0.875);
      color: $color-word;
    }
  }

  &__text-file {
    @include text-with-icon('self--synced');
    @include text-with-icon-offset(-4px, -8px, 8px, 8px);
    margin-left: $spacer-base;
  }

  th,
  td {
    padding: padding-x-y(1.5, 2);
  }

  tr {
    border: 1px solid $color-card-border;
  }

  th {
    background-color: $color-card-header;

    &:nth-child(2) {
      text-align: right;
    }
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: 1%;
    font-weight: 400;
    font-style: italic;
    white-space: nowrap;
  }

  th:nth-child(2),
  td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}