.text {
    &--with-icon {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -8px;
            left: -16px;
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &--is-file-synced::before {
        background-image: url("../../../assets/icons/synced-icon.svg");
    }
}