@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



.my {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.my-navbar {
    background-color: rgb(235, 235, 235);
    padding: 8px;
}

.my-button {
    border: none;
    padding: 8px 12px;
    background: transparent;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    width: 100%;
}

.my-button:hover {
    background-color: rgb(220, 220, 220);
    color: rgb(168, 0, 93);
}

.my-button>.icon {
    font-size: 20px;
    color: rgb(168, 0, 93);
}

.my-button>.dropdown-indicator {
    font-size: 12px;
    color: rgb(100, 100, 100)
}

.my-button>.more-option {
    letter-spacing: 2px;
}

.my-button:hover .icon {
    color: rgb(168, 0, 93);
}

.my-file-item {
    width: 100%;
    padding: 8px 12px;
    border: gray 1px solid;
    table-layout: fixed;
}

.my-file-item th,
.my-file-item td {
    padding: 8px 12px;
}

.my-file-item tr {
    border: gray 1px solid;
}

.my-file-item:hover {
    background-color: rgb(220, 220, 220);
}

.my-file-item th {
    background-color: rgb(235, 235, 235);
}

.my-file-item th:nth-child(2) {
    text-align: right;
}

.my-file-item th:nth-child(1),
.my-file-item td:nth-child(1) {
    width: 20%;
    font-weight: bold;
    font-style: italic;
}

.my-file-item th:nth-child(2),
.my-file-item td:nth-child(2) {
    width: 80%;
}