// Font Import

// Vend Sans: https://fonts.google.com/specimen/Vend+Sans
@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

// Oswald: https://fonts.google.com/specimen/Oswald
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

// Roboto condensed: https://fonts.google.com/specimen/Oswald
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

$font-system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-oswald: 'Oswald', sans-serif;
$font-vend-sans: 'Vend Sans', sans-serif;
$font-roboto-condensed: 'Roboto Condensed', sans-serif;

// rem ~ 16px
$font-sizes: (
    xs: 0.75rem,
    // 12px
    sm: 0.875rem,
    // 14px
    base: 1rem,
    // 16px
    md: 1.125rem,
    // 18px
    lg: 1.25rem,
    // 20px
    xl: 1.5rem,
    // 24px
    2xl: 2rem,
    // 32px
    3xl: 2.5rem // 40px
);

@function fs($size) {
    @return map-get($font-sizes, $size);
}