// Define variables

// =====================
// Colors
// =====================

$color-raspberry: rgb(168, 0, 93);
$color-blue: rgb(0, 123, 255);
$color-green: rgb(40, 167, 69);

$color-gray-50: rgb(249, 250, 251);
$color-gray-100: rgb(243, 244, 246);
$color-gray-200: rgb(229, 231, 235);
$color-gray-300: rgb(209, 213, 219);
$color-gray-400: rgb(156, 163, 175);
$color-gray-500: rgb(107, 114, 128);
$color-gray-600: rgb(75, 85, 99);
$color-gray-700: rgb(55, 65, 81);
$color-gray-800: rgb(31, 41, 55);
$color-gray-900: rgb(17, 24, 39);
$color-gray-950: rgb(3, 7, 18);


// =====================
// Semantic colors
// =====================

$color-dropdown-indicator: $color-gray-400;
$color-text-muted: $color-gray-500;
$color-card-border: $color-gray-300;

// =====================
// Layout
// =====================

$spacer-base: 1rem * 0.25; // 0.25rem = 4px
$font-size-base: 1rem;
$icon-size-base: 1rem * 1.25; // 1.25rem = 20px

// =====================
// Breaking points (bootstrap-like)
// =====================

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;