// Typography Rules

html {
    font-size: clamp(12px, 0.5vw + 12px, 24px);
}

body {
    font-weight: 300;

    font-family: $font-oswald;


    @media screen and (min-width: $breakpoint-lg ) {
        font-family: $font-system-ui;
    }
}