$light-gray: rgb(235, 235, 235);
$hover-gray: rgb(230, 230, 230);
$mid-gray: rgb(100, 100, 100);
$border-gray: rgb(197, 197, 197);

$excel-file-color: rgb(0, 128, 0);
$word-file-color: rgb(0, 0, 255);